<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qtx.cloud.auth.mapper.SysUserMapper">

    <select id="selectPageNew" resultType="qtx.cloud.model.vo.auth.SysUserVO">
        with r as (select s.user_id,
                          s.user_code,
                          s.user_name,
                          s.status,
                          s.create_on,
                          u.user_name as create_by,
                          s.delete_flag,
                          s.platform
                   from sys_user s
                            left join sys_user u
                                      on s.create_by = u.user_code)
        select user_id,
               user_code,
               user_name,
               status,
               create_on,
               create_by,
               delete_flag,
               platform
        from r ${ew.customSqlSegment}
    </select>
    <select id="selectPageByDepartment" resultType="qtx.cloud.model.vo.auth.SysUserVO">
        select user_id,
               user_code,
               user_name,
               sex,
               department_code,
               department_name,
               status
        from sys_user
        order by department_code = #{dto.departmentCode} desc, user_id desc
    </select>
</mapper>
