<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qtx.cloud.auth.mapper.SysUserMapper">

    <select id="selectPageNew" resultType="qtx.cloud.model.vo.auth.SysUserVO">
        with r as (select s.id,
                          s.user_card,
                          s.user_name,
                          s.status,
                          s.create_on,
                          IFNULL(u.user_name, s.create_by) as create_by,
                          s.delete_flag
                   from sys_user s
                            left join sys_user u
                                      on s.create_by = u.user_card)
        select id,
               user_card,
               user_name,
               status,
               create_on,
               create_by,
               delete_flag
        from r ${ew.customSqlSegment}
    </select>
    <select id="selectPageByDepartment" resultType="qtx.cloud.model.vo.auth.SysUserVO">
        select sys_user.id,
               sys_user.user_card,
               user_name,
               status
        from sys_user
                 left join sys_user_info sur on sys_user.delete_flag = sur.delete_flag
            and sys_user.user_card = sur.user_card
                 left join sys_department sd on sur.delete_flag = sd.delete_flag and sur.department_id = sd.id
        order by department_code = #{dto.departmentCode} desc, id desc
    </select>
    <select id="selectAll" resultType="qtx.cloud.model.bo.auth.UserBO">
        select id, user_card, user_name, password
        from sys_user
        where status = true
          and delete_flag = false
    </select>
    <select id="selectUserByUserCode" resultType="qtx.cloud.model.vo.auth.SysUserVO">
        select u.user_card, user_name, sr.role_name, sd.department_name
        from sys_user u
                 left join sys_user_info sui on u.delete_flag = sui.delete_flag and u.user_card = sui.user_card
                 left join sys_department sd on sui.delete_flag = sd.delete_flag and sui.department_id = sd.id
                 left join sys_user_role sur on sui.delete_flag = sur.delete_flag and u.user_card = sur.user_card
                 left join sys_role sr on sui.delete_flag = sr.delete_flag and sur.role_id = sur.id
        where u.delete_flag = false
          and u.user_card = #{userCode}
    </select>
</mapper>
