<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qtx.cloud.activity.mapper.AcStartMapper">

    <select id="selectAc" resultType="qtx.cloud.model.bo.activity.AcBO">
        select an.ac_uuid,
        an.name,
        ann.node_name,
        ann.node_group,
        ann.node_pass_num,
        ann.is_hidden as hidden,
        ab.business_info
        from ac_name an
        left join ac_node ann on an.id = ann.ac_name_id and an.delete_flag = ann.delete_flag
        left join ac_business ab on ann.id = ab.ac_node_id and an.delete_flag = ab.delete_flag
        where an.ac_uuid = #{acUuid}
        and an.delete_flag = false
        <if test="flag == true and flag != null">
            and ann.node_group = 1
        </if>
        <if test="group != null and group != ''">
            and ann.node_group = #{group}
        </if>
        order by node_group;
    </select>
    <select id="selectToDo" resultType="qtx.cloud.model.vo.activity.AcToDoVO">
        select ac_name, count(*) as num
        from ac_start
        where ac_business = #{userCode}
        and is_node = true
        and is_his = false
        and this_flag is null
        <if test="acUuid != null and acUuid != ''">
            and ac_uuid = #{acUuid}
        </if>
        group by ac_uuid;
    </select>
</mapper>
